:root {
  --Dark-bg-bg1-value: #000;
  --Dark-bg-bg2-value: #101828;
  --Dark-bg-bg3-value: #152130;
  --Dark-bg-bg4-value: #1D2939;
  --Dark-border-bd1-value: #475467;
  --Dark-border-bd2-value: #D0D5DD;
  --Dark-text-t1-value: #F2F4F7;
  --Dark-text-t2-value: #D0D5DD;
  --Dark-general-g1-value: #475467;
  --Dark-general-g2-value: #FEC84B;
  --Dark-general-g3-value: #32D583;
  --Dark-general-g4-value: #69B1FF;
  --light-bg-bg1-value: #FFFFFF;
  --light-bg-bg2-value: #FCFCFD;
  --light-bg-bg3-value: #EFF3F7;
  --light-bg-bg4-value: #fff;
  --light-border-bd1-value: #D0D5DD;
  --light-border-bd2-value: #475467;
  --light-text-t1-value: #101828;
  --light-text-t2-value: #475467;
  --light-general-g1-value: #475467;
  --light-general-g2-value: #FEC84B;
  --light-general-g3-value: #32D583;
  --light-general-g4-value: #69B1FF;
  --$metadata-tokenSetOrder-0: Dark;
  --$metadata-tokenSetOrder-1: light;
}