 @import url('../styleguide.css');
  
  .container {
    background-color:grey; /* Default background color */
    /* Other styles */
    width:380px;
   
  }

  .container.dark {
    background-color: black;
    /* Other styles for dark mode */
    width:380px;

  }

  .MuiPaper-root-MuiAccordion-root:last-of-type{border-top-left-radius:'0';border-top-right-radius:'0';border-bottom-left-radius:'0px';border-bottom-right-radius: '0';}
  
  /* .MuiPaper-root{box-shadow: none !important;} */
  /* .container.dark {
    background-color:black;
  
    width:380px;

  } */
